---
import Default from '@astrojs/starlight/components/Footer.astro';
---

<Default><slot /></Default>
<div class="copyright">
  © BIVROST TECHONOLOGIES Company Limited / 深圳市彼络科技有限公司 · 说明书
  v1.19.7 · 联系电话：18824672282
</div>

<style>
  .copyright {
    margin-top: 1.5rem;
    padding-top: 1rem;
    border-top: 1px solid var(--sl-color-gray-6);
    color: var(--sl-color-gray-3);
    font-size: var(--sl-text-sm);
    text-align: center;
  }
</style>
